* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Courier New'
}

#app {
  margin: 0 auto;
  width: 100%;
  font-size: 24px;
}

#app > * {
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 20px;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-div {
  margin: 10px;
}

.brand-button {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 9px 16px;
  font-size: 20px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 50px;
}

.image-button {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 9px 16px;
  font-size: 20px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 50px;
}

img {
  width: 100px;
  height: 100px;
}

button.start {
  background: green;
}

button.stop {
  background: red;
}

.game {
  width: 80vw;
  height: 400px;
  background: grey;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center
}

.game > div {
  width: 20%;
  height: 30%;
  background: #3492fb;
  border-radius: 25px;
  cursor: pointer;
  margin: 10px
}

.guesses > div {
  width: 20%;
  height: 30%;
  background: #3492fb;
  border-radius: 25px;
  cursor: pointer;
  margin: 10px
}

.end-game-modal {
  z-index: 1;
  border: solid black 2px;
  height: 500px;
  width: 500px;
}

#instructions h1 {
  text-align: center;
}

#instructions {
  width: 50%;
  margin: 0 auto;
}

#instructions .image {
  width: 100%
}

#instructions .image > img {
  width: 100%;
}
